body>div {
	font-family: sans-serif;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 18.5em;
	transform: translate(-50%, -50%);
}

body>div>div {
	border: .2em solid #888;
	border-radius: 1em;
	background-color: #eee;
	padding: .5em 1em;
	margin-bottom: 1em;
}

label {
	display: block;
	width: 5em;
	float: left;
}

input {
	width: 11em;
	text-align: center;
	margin-bottom: .5em;
}

button {
	padding: .5em;
	width: 100%;
}

